html {
  min-height: 100%;
  position: relative;
}
body {
  background: linear-gradient(
    179.2deg,
    rgb(147, 162, 163) 0%,
    rgb(88, 151, 223) 29.7%,
    rgb(99, 95, 221) 63.4%,
    rgba(114, 62, 154, 0.808) 100.1%
  );
  height: 100%;
  width: 100%;
  color: rgb(247, 242, 242);
}
.container {
  border-radius: 12px;
  margin-top: 50px;
}
.input-group {
  margin-left: -6px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(204, 194, 194, 0.341);
  box-shadow: 3px 3px rgba(39, 39, 44, 0.2);
  flex-direction: column;
}
.location {
  text-align: end;
}
#search-city {
  margin-top: 5px;
}
#search-city-input {
  display: block;
  line-height: 1;
  color: #212529;
  border: 1px solid #ced4da;
  width: 100%;
}
#city-search {
  width: 100%;
}
#weekdays {
  background: rgba(204, 194, 194, 0.341);
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  line-height: 5;
  margin: 25px 0px 0px;
}
#city-info-wrap {
  margin-top: 25px;
  background: rgba(204, 194, 194, 0.341);
  border-radius: 12px;
}
.city {
  font-size: 45px;
  padding-top: 10px;
  font-family: "Kiwi Maru", serif;
}
.current-icon {
  font-size: 90px;
}
.description {
  font-size: 15px;
}
.temperature {
  font-size: 95px;
  font-family: "Kiwi Maru", serif;
  padding-left: 55px;
}
.degrees {
  position: relative;
  top: -50px;
}
ul {
  padding: 0;
  list-style-type: none;
}
.current-dates {
  font-size: 15px;
  font-family: "Kiwi Maru", serif;
}

.humid-wind {
  font-size: 15px;
  font-family: "Kiwi Maru", serif;
  padding-top: 22px;
}
div.col-2 {
  text-align: center;
}
div.days {
  font-family: "Kiwi Maru", serif;
}
div.icon {
  font-family: none;
  font-size: 35px;
}
