body {
  background-image: url("palmas.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.input-group {
  flex-direction: column;
}
.container {
  border-radius: 10px;
  width: 800px;
  padding: 0px 18px 56px;
  margin: 68px auto;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.285);
}
.city {
  font-size: 38px;
  padding-top: 20px;
  font-family: "Rampart One", cursive;
}
.temperature {
  font-size: 45px;
  font-family: "Kiwi Maru", serif;
}
.degrees {
  position: relative;
  top: -20px;
}
ul {
  list-style: none;
  padding-top: 78px;
  padding-left: 50%;
}
.current-dates {
  font-size: 15px;
  padding-bottom: 115px;
  font-family: "Kiwi Maru", serif;
}
.humid-wind {
  font-size: 15px;
  font-family: "Kiwi Maru", serif;
}
div.col-2 {
  text-align: center;
  background-color: rgba(104, 237, 237, 0.626);
}
div.days {
  font-family: "Kiwi Maru", serif;
}
div.icon {
  font-family: none;
}
#search-city-input {
  width: 80%;
}
